.navbar{
   background-color: var(--bg-header);
    
   color: var(--tittle-primary)
}

.icon{
   height: 100px;
   width: 165px;
   margin-left: 6px;
}

.images-header{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   background-color: var(--bg-img-header)
}

.images-common{
   height: 110px;
   width: 170px;
   margin: 14px 4px 14px 4px;
   background-position: center;
   background-size: cover;
}

.images-common:first-child {
   margin-left: 0px;
}
.images-common:last-child {
   margin-right: 0px;
}
.img1 {
   background-image: url(/assets/images/header/image1.jpg);   
}
.img2 {
   background-image: url(/assets/images/header/image2.jpg);
}
.img3 {
   background-image: url(/assets/images/header/image3.jpg);
}
.img4 {
   background-image: url(/assets/images/header/image4.jpg);
}
.img5 {
   background-image: url(/assets/images/header/image5.jpg);
}
.img6 {
   background-image: url(/assets/images/header/image6.jpg);
}
.img7 {
   background-image: url(/assets/images/header/image7.jpg);
}
.img8 {
   background-image: url(/assets/images/header/image8.jpg);
}


@media( max-width: 1400px){
   .navbar .nav-item{
      font-size: 14px;
      margin-right: 2px;
   }

   .icon{
      height: 90px;
      width: 155px;
   }
   .images-common{
      height: 100px;
      width: 165px;
      margin: 10px 4px 10px 4px;
   }   
   .img2 {
      display: none;
   }
}


@media(max-width: 720px){
   .navbar .nav-item{
      font-size: 10px;
      margin-right: 2px;
      
   }
   .icon{
      height: 70px;
      width: 125px;
   }
   .images-common{
      height: 80px;
      width: 145px;
      margin: 10px 4px 10px 4px;
   }

   .img2 {
      display: none;
   }
   .img5 {
      display: none;
   }
   .img5 {
      display: none;
   }
   .img7 {
      display: none;
   }
  
}


