:root{
    --bg-header: #0a0a0abb; 
    --bg-img-header: #bdb8b8b7; 
    --tittle-primary: #fffffe;
    --text-primary: #1d1d1dcb;
    --text-secondary: #77777788;
    --button-primary: #42445056;  
}

.btn-primary {
    background-color: var(--button-primary);
    color: var(--text-primary);
    border: none;
}